<div class={'w-full flex h-screen items-center px-3 justify-start bg-[#f0edd3]'} >
	<div class="m-auto max-w-md">
		<h1 class={'font-mono text-center text-2xl'}>hello, i'm <span class={'underline decoration-brown-500'}>diego toro</span>!</h1>
		<img src="/me.webp" class={'md:w-md m-auto sm:w-sm'}>

		<h2 class={'font-mono mt-5 text-md text-justify'}>
			backend software engineer & cybersecurity enthusiast based in Santiago, Chile 🇨🇱.
		</h2>
		<div class="m-auto justify-center">

		<div class="work mt-4 flex justify-center">
			<div class="rounded-md flex font-mono items-center bg-green-100 py-0.5 px-2.5 text-xs border border-transparent text-sm text-green-800 transition-all shadow-sm">
				<div class="block h-2 w-2 rounded-full bg-green-500 mr-2"></div>
				Open to work, let's connect! 
			</div>
		</div>

		</div>

		<h3 class={'font-mono mt-5 text-md text-center'}>
			you can check me out on <span class={'underline hover:line-through hover:cursor-pointer'}><a href="https://www.linkedin.com/in/torokoko/">linkedin</a></span>, 
			<span class={'underline hover:line-through hover:cursor-pointer'}><a href="https://github.com/torokokoo">github</a></span>, see my resume<span class={'underline hover:line-through hover:cursor-pointer'}><a href="">[eng]</a></span>/<span class={'underline hover:line-through hover:cursor-pointer'}><a href="./resume_es.pdf">[esp]</a></span>
			or mail me at diego@torokoko.cl
		</h3>
	</div>
</div>